.user-info-wrap {
    width: 36px;
    height: 36px;
    border: 2px solid lightgrey;
    border-radius:50%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-right: 20px;
    text-align: center;
    line-height: 36px;
}
.user-info-wrap.dark div {
    text-shadow: 4px 2px black;
    color: lightgrey;
}
.user-info-wrap div {
    font-weight: bold;
}
.user-info-wrap.light div {
    text-shadow: 3px 1px #b3a6a6;
    color: #0000EE;
}
.user-full-name {
    display: none;
    position: absolute;
    width: max-content;
    right: 70px;
}
.user-info-wrap:hover .user-full-name {
    display: flex;
}